In [9]:
headers = ({'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/122.0.0.0 Safari/537.36'})

In [13]:
import requests
from bs4 import BeautifulSoup

base_url = "https://www.arabam.com/ikinci-el/otomobil/audi?take=50&page="
car_data = []

for page_number in range(1, 51):
    url = base_url + str(page_number)
    data = requests.get(url).text
    soup = BeautifulSoup(data, 'html.parser')
    listings = soup.find_all('tr', class_='listing-list-item should-hover bg-white')
    for listing in listings:
        model = listing.find('div', class_='listing-text-new').text
        year = listing.find('td', class_='listing-text').text.strip()
        kilometers = listing.find_all('td', class_='listing-text')[1].text.strip()
        color = listing.find_all('td', class_='listing-text')[2].text.strip()
        price = listing.find('span', class_='db no-wrap listing-price').text.strip()
            
        location = listing.find('span', class_='').text + " - " + listing.find_all('span', class_='')[1].text

        car_data.append([model, year, kilometers, color, price, location])

In [17]:
listing

<tr class="listing-list-item should-hover bg-white" id="listing23394139">
<td class="pr" style="width: 200px;">
<div class="fade-out-content-wrapper">
<a class="smallest-text-minus ovh" href="/ilan/sahibinden-satilik-audi-a4-sedan-2-0-tdi/sahibinden-hatasiz-degisensiz-tramersiz-2015-model-audi-a4-sedan-2-0-tdi-150hp/23394139" onclick="dataLayerClick('1814' , '13')" target="_self">
<img alt="Sahibinden - Hatasız - Değişensiz - Tramersiz - 2015 Model - Audi A4 Sedan 2.0 TDI - 150HP" class="listing-image" data-src="https://arbstorage.mncdn.com/ilanfotograflari/2023/09/07/23394139/5cda5eb7-6876-4391-82c8-2778822daf3f_image_for_silan_23394139_240x180.jpg" height="90" src="https://arbimg1.mncdn.com/ilanfotograflari/noImage/01/01/1/noimage5_160x120.jpg" width="120"/>
</a>
</div>
<div class="item-overlay overlay-23394139"></div>
</td>
<td class="listing-modelname pr">
<h3 class="crop-after">
<div class="listing-text-new word-break val-middle color-black2018">Audi A4 Sedan 2.0 TDI</div>
</h3>
<div class="item-overlay overlay-23394139"></div>
<a class="link-overlay" href="/ilan/sahibinden-satilik-audi-a4-sedan-2-0-tdi/sahibinden-hatasiz-degisensiz-tramersiz-2015-model-audi-a4-sedan-2-0-tdi-150hp/23394139" onclick="dataLayerClick('1814' , '13')" target="_self"></a>
</td>
<td class="horizontal-half-padder-minus pr">
<h4 class="crop-after crop-after-40 odd-ca40">
<div class="listing-text-new word-break listing-title-lines" ng-non-bindable="">Sahibinden - Hatasız - Değişensiz - Tramersiz - 2015 Model - Audi A4 Sedan 2.0 TDI - 150HP</div>
</h4>
<div class="label-container">
</div>
<div class="item-overlay overlay-23394139"></div>
<a class="link-overlay" href="/ilan/sahibinden-satilik-audi-a4-sedan-2-0-tdi/sahibinden-hatasiz-degisensiz-tramersiz-2015-model-audi-a4-sedan-2-0-tdi-150hp/23394139" onclick="dataLayerClick('1814' , '13')" target="_self"></a>
</td>
<td class="listing-text">
<div class="fade-out-content-wrapper">
<a class="" href="/ilan/sahibinden-satilik-audi-a4-sedan-2-0-tdi/sahibinden-hatasiz-degisensiz-tramersiz-2015-model-audi-a4-sedan-2-0-tdi-150hp/23394139" onclick="dataLayerClick('1814' , '13')" target="_self">2015</a>
</div>
<div class="item-overlay overlay-23394139"></div>
</td>
<td class="listing-text">
<div class="fade-out-content-wrapper">
<a class="" href="/ilan/sahibinden-satilik-audi-a4-sedan-2-0-tdi/sahibinden-hatasiz-degisensiz-tramersiz-2015-model-audi-a4-sedan-2-0-tdi-150hp/23394139" onclick="dataLayerClick('1814' , '13')" target="_self">189.000 </a>
</div>
<div class="item-overlay overlay-23394139"></div>
</td>
<td class="listing-text">
<div class="fade-out-content-wrapper">
<a class="" href="/ilan/sahibinden-satilik-audi-a4-sedan-2-0-tdi/sahibinden-hatasiz-degisensiz-tramersiz-2015-model-audi-a4-sedan-2-0-tdi-150hp/23394139" onclick="dataLayerClick('1814' , '13')" target="_self">Beyaz</a>
</div>
<div class="item-overlay overlay-23394139"></div>
</td>
<td class="">
<div class="fade-out-content-wrapper">
<a href="/ilan/sahibinden-satilik-audi-a4-sedan-2-0-tdi/sahibinden-hatasiz-degisensiz-tramersiz-2015-model-audi-a4-sedan-2-0-tdi-150hp/23394139" onclick="dataLayerClick('1814' , '13')" target="_self">
<span class="db no-wrap listing-price" itemscope="">
                        1.390.000 TL
                    </span>
</a>
</div>
<div class="item-overlay overlay-23394139"></div>
</td>
<td class="listing-text tac">
<div class="fade-out-content-wrapper">
<a class="" href="/ilan/sahibinden-satilik-audi-a4-sedan-2-0-tdi/sahibinden-hatasiz-degisensiz-tramersiz-2015-model-audi-a4-sedan-2-0-tdi-150hp/23394139" onclick="dataLayerClick('1814' , '13')" target="_self">07 Ocak 2024</a>
</div>
<div class="item-overlay overlay-23394139"></div>
</td>
<td class="listing-text">
<div style="display:flex;justify-content:center;align-items:center;height:81px">
<div class="fade-out-content-wrapper">
<a class="" href="/ilan/sahibinden-satilik-audi-a4-sedan-2-0-tdi/sahibinden-hatasiz-degisensiz-tramersiz-2015-model-audi-a4-sedan-2-0-tdi-150hp/23394139" onclick="dataLayerClick('1814' , '13')" target="_self">
<span class="" title="Bursa">Bursa</span>
<span class="" title="Nilüfer">Nilüfer</span>
</a>
</div>
<div class="visible-on-parent-hover toolbox-wrapper">
<span class="toolbox-item" id="compare-container23394139" onclick="handleClickComparePopup({id: '23394139',price: '1.390.000 TL', image: 'https://arbstorage.mncdn.com/ilanfotograflari/2023/09/07/23394139/5cda5eb7-6876-4391-82c8-2778822daf3f_image_for_silan_23394139_120x90.jpg', mainCategoryId: '18', modelName: 'Audi A4 Sedan 2.0 TDI', title: 'Sahibinden - Hatasız - Değişensiz - Tramersiz - 2015 Model - Audi A4 Sedan 2.0 TDI - 150HP'}, event);event.stopPropagation();">
<i class="icon-arabam-karsilastir"></i>
<span class="pl4" id="add-compare23394139">Karşılaştır</span>
<span class="pl4 dn" id="remove-compare23394139">Karşılaştırmadan Çıkar</span>
</span>
<span class="toolbox-item" id="favorite-container23394139">
<svg class="icon" height="16" width="16">
<use xlink:href="#arabam-list-star"></use>
</svg>
<span class="pl4 dn" id="add-favorite23394139" onclick="removeFromFavorite(23394139, event);">Favorilerimde</span>
<span class="pl4" id="remove-favorite23394139" onclick="handleClickAddFavorite(23394139, event);">Favoriye Ekle</span>
</span>
<span class="toolbox-item" id="hide-23394139" onclick="toggleHide(23394139, event);">
<svg class="icon" height="16" width="16">
<use xlink:href="#arabam-list-eye"></use>
</svg>
<span class="pl4">Gizle</span>
</span>
<span class="toolbox-item dn" id="show-23394139">
<svg class="icon" height="16" width="16">
<use xlink:href="#arabam-list-eye"></use>
</svg>
<span class="pl4">Göster</span>
</span>
</div>
<div class="item-overlay overlay-23394139" onclick="toggleShow(23394139, event);" style="cursor: pointer;">
<span class="toolbox-item">
<svg class="icon" height="16" width="16">
<use xlink:href="#arabam-list-eye"></use>
</svg>
<span class="pl4">Göster</span>
</span>
</div>
</div>
</td>
</tr>

In [18]:
import pandas as pd
df = pd.DataFrame(car_data, columns=['Model', 'Year', 'Kilometers', 'Color', 'Price', 'Location'])
df

,Model,Year,Kilometers,Color,Price,Location
0,Audi A1 1.6 TDI Sportback Ambition,2012,222.000,Siyah,850.000 TL,Malatya - Yeşilyurt
1,Audi A1 1.4 TFSI Sportback Attraction,2012,106.000,Kırmızı,730.000 TL,İstanbul - Şişli
2,Audi A6 Sedan 1.8 T,2000,425.000,Füme,379.900 TL,Kayseri - Kocasinan
3,Audi A4 Avant 2.0 TDI Quattro Design,2016,185.000,Siyah,1.415.000 TL,Tekirdağ - Çerkezköy
4,Audi A4 Avant 1.6,2008,229.015,Siyah,675.058 TL,Sivas - Merkez
...,...,...,...,...,...,...
1799,Audi A6 Sedan 2.0 TDI,2016,115.000,Siyah,2.465.000 TL,Sivas - Merkez
1800,Audi A4 Sedan 2.0 TDI,2012,225.000,Beyaz,1.070.000 TL,Gaziantep - Şehitkamil
1801,Audi A6 Sedan 2.0 TDI Quattro,2016,152.000,-,2.240.000 TL,İstanbul - Beylikdüzü
1802,Audi A3 Sportback 1.6 Ambition,2005,230.000,Füme,505.000 TL,Ankara - Çankaya
1803,Audi A4 Sedan 2.0 TDI,2015,189.000,Beyaz,1.390.000 TL,Bursa - Nilüfer

In [19]:
col = df["Model"].str.split(" ", 1, expand=True).rename({0:"Car Brand", 1:"CarModel"}, axis = 1)

In [20]:
df = df.join([col])

In [21]:
df = df.drop("Model", axis = 1)

In [22]:
df

,Year,Kilometers,Color,Price,Location,Car Brand,CarModel
0,2012,222.000,Siyah,850.000 TL,Malatya - Yeşilyurt,Audi,A1 1.6 TDI Sportback Ambition
1,2012,106.000,Kırmızı,730.000 TL,İstanbul - Şişli,Audi,A1 1.4 TFSI Sportback Attraction
2,2000,425.000,Füme,379.900 TL,Kayseri - Kocasinan,Audi,A6 Sedan 1.8 T
3,2016,185.000,Siyah,1.415.000 TL,Tekirdağ - Çerkezköy,Audi,A4 Avant 2.0 TDI Quattro Design
4,2008,229.015,Siyah,675.058 TL,Sivas - Merkez,Audi,A4 Avant 1.6
...,...,...,...,...,...,...,...
1799,2016,115.000,Siyah,2.465.000 TL,Sivas - Merkez,Audi,A6 Sedan 2.0 TDI
1800,2012,225.000,Beyaz,1.070.000 TL,Gaziantep - Şehitkamil,Audi,A4 Sedan 2.0 TDI
1801,2016,152.000,-,2.240.000 TL,İstanbul - Beylikdüzü,Audi,A6 Sedan 2.0 TDI Quattro
1802,2005,230.000,Füme,505.000 TL,Ankara - Çankaya,Audi,A3 Sportback 1.6 Ambition
1803,2015,189.000,Beyaz,1.390.000 TL,Bursa - Nilüfer,Audi,A4 Sedan 2.0 TDI

In [23]:
df[["Car Brand", "CarModel", "Year", "Kilometers", "Color", "Location"]]

,Car Brand,CarModel,Year,Kilometers,Color,Location
0,Audi,A1 1.6 TDI Sportback Ambition,2012,222.000,Siyah,Malatya - Yeşilyurt
1,Audi,A1 1.4 TFSI Sportback Attraction,2012,106.000,Kırmızı,İstanbul - Şişli
2,Audi,A6 Sedan 1.8 T,2000,425.000,Füme,Kayseri - Kocasinan
3,Audi,A4 Avant 2.0 TDI Quattro Design,2016,185.000,Siyah,Tekirdağ - Çerkezköy
4,Audi,A4 Avant 1.6,2008,229.015,Siyah,Sivas - Merkez
...,...,...,...,...,...,...
1799,Audi,A6 Sedan 2.0 TDI,2016,115.000,Siyah,Sivas - Merkez
1800,Audi,A4 Sedan 2.0 TDI,2012,225.000,Beyaz,Gaziantep - Şehitkamil
1801,Audi,A6 Sedan 2.0 TDI Quattro,2016,152.000,-,İstanbul - Beylikdüzü
1802,Audi,A3 Sportback 1.6 Ambition,2005,230.000,Füme,Ankara - Çankaya
1803,Audi,A4 Sedan 2.0 TDI,2015,189.000,Beyaz,Bursa - Nilüfer

In [24]:
df.isnull().sum()

Year          0
Kilometers    0
Color         0
Price         0
Location      0
Car Brand     0
CarModel      0
dtype: int64

In [25]:
col2 = df.CarModel.str.split(" ", 1, expand=True).rename({0:"Model", 1:"Engine"}, axis = 1)

In [26]:
df = df.join(col2)

In [27]:
df

,Year,Kilometers,Color,Price,Location,Car Brand,CarModel,Model,Engine
0,2012,222.000,Siyah,850.000 TL,Malatya - Yeşilyurt,Audi,A1 1.6 TDI Sportback Ambition,A1,1.6 TDI Sportback Ambition
1,2012,106.000,Kırmızı,730.000 TL,İstanbul - Şişli,Audi,A1 1.4 TFSI Sportback Attraction,A1,1.4 TFSI Sportback Attraction
2,2000,425.000,Füme,379.900 TL,Kayseri - Kocasinan,Audi,A6 Sedan 1.8 T,A6,Sedan 1.8 T
3,2016,185.000,Siyah,1.415.000 TL,Tekirdağ - Çerkezköy,Audi,A4 Avant 2.0 TDI Quattro Design,A4,Avant 2.0 TDI Quattro Design
4,2008,229.015,Siyah,675.058 TL,Sivas - Merkez,Audi,A4 Avant 1.6,A4,Avant 1.6
...,...,...,...,...,...,...,...,...,...
1799,2016,115.000,Siyah,2.465.000 TL,Sivas - Merkez,Audi,A6 Sedan 2.0 TDI,A6,Sedan 2.0 TDI
1800,2012,225.000,Beyaz,1.070.000 TL,Gaziantep - Şehitkamil,Audi,A4 Sedan 2.0 TDI,A4,Sedan 2.0 TDI
1801,2016,152.000,-,2.240.000 TL,İstanbul - Beylikdüzü,Audi,A6 Sedan 2.0 TDI Quattro,A6,Sedan 2.0 TDI Quattro
1802,2005,230.000,Füme,505.000 TL,Ankara - Çankaya,Audi,A3 Sportback 1.6 Ambition,A3,Sportback 1.6 Ambition
1803,2015,189.000,Beyaz,1.390.000 TL,Bursa - Nilüfer,Audi,A4 Sedan 2.0 TDI,A4,Sedan 2.0 TDI

In [28]:
df = df.drop('CarModel', axis = 1)

In [29]:
df[["Car Brand", "Model", "Year", "Engine", "Color", "Kilometers", "Price", "Location"]]

,Car Brand,Model,Year,Engine,Color,Kilometers,Price,Location
0,Audi,A1,2012,1.6 TDI Sportback Ambition,Siyah,222.000,850.000 TL,Malatya - Yeşilyurt
1,Audi,A1,2012,1.4 TFSI Sportback Attraction,Kırmızı,106.000,730.000 TL,İstanbul - Şişli
2,Audi,A6,2000,Sedan 1.8 T,Füme,425.000,379.900 TL,Kayseri - Kocasinan
3,Audi,A4,2016,Avant 2.0 TDI Quattro Design,Siyah,185.000,1.415.000 TL,Tekirdağ - Çerkezköy
4,Audi,A4,2008,Avant 1.6,Siyah,229.015,675.058 TL,Sivas - Merkez
...,...,...,...,...,...,...,...,...
1799,Audi,A6,2016,Sedan 2.0 TDI,Siyah,115.000,2.465.000 TL,Sivas - Merkez
1800,Audi,A4,2012,Sedan 2.0 TDI,Beyaz,225.000,1.070.000 TL,Gaziantep - Şehitkamil
1801,Audi,A6,2016,Sedan 2.0 TDI Quattro,-,152.000,2.240.000 TL,İstanbul - Beylikdüzü
1802,Audi,A3,2005,Sportback 1.6 Ambition,Füme,230.000,505.000 TL,Ankara - Çankaya
1803,Audi,A4,2015,Sedan 2.0 TDI,Beyaz,189.000,1.390.000 TL,Bursa - Nilüfer

In [30]:
df.isnull().sum()

Year          0
Kilometers    0
Color         0
Price         0
Location      0
Car Brand     0
Model         0
Engine        0
dtype: int64

In [31]:
col3 = df.Price.str.split(" ", 1, expand = True).rename({0:"Price1", 1:"Currency"}, axis = 1)

In [32]:
df = df.join(col3)
df

,Year,Kilometers,Color,Price,Location,Car Brand,Model,Engine,Price1,Currency
0,2012,222.000,Siyah,850.000 TL,Malatya - Yeşilyurt,Audi,A1,1.6 TDI Sportback Ambition,850.000,TL
1,2012,106.000,Kırmızı,730.000 TL,İstanbul - Şişli,Audi,A1,1.4 TFSI Sportback Attraction,730.000,TL
2,2000,425.000,Füme,379.900 TL,Kayseri - Kocasinan,Audi,A6,Sedan 1.8 T,379.900,TL
3,2016,185.000,Siyah,1.415.000 TL,Tekirdağ - Çerkezköy,Audi,A4,Avant 2.0 TDI Quattro Design,1.415.000,TL
4,2008,229.015,Siyah,675.058 TL,Sivas - Merkez,Audi,A4,Avant 1.6,675.058,TL
...,...,...,...,...,...,...,...,...,...,...
1799,2016,115.000,Siyah,2.465.000 TL,Sivas - Merkez,Audi,A6,Sedan 2.0 TDI,2.465.000,TL
1800,2012,225.000,Beyaz,1.070.000 TL,Gaziantep - Şehitkamil,Audi,A4,Sedan 2.0 TDI,1.070.000,TL
1801,2016,152.000,-,2.240.000 TL,İstanbul - Beylikdüzü,Audi,A6,Sedan 2.0 TDI Quattro,2.240.000,TL
1802,2005,230.000,Füme,505.000 TL,Ankara - Çankaya,Audi,A3,Sportback 1.6 Ambition,505.000,TL
1803,2015,189.000,Beyaz,1.390.000 TL,Bursa - Nilüfer,Audi,A4,Sedan 2.0 TDI,1.390.000,TL

In [33]:
if "Price" in df.columns:
    df = df.drop("Price", axis=1)
else:
    print("Column 'Price' not found in the dataset.")

print(df.head())

   Year Kilometers    Color              Location Car Brand Model  \
0  2012    222.000    Siyah   Malatya - Yeşilyurt      Audi    A1
1  2012    106.000  Kırmızı      İstanbul - Şişli      Audi    A1
2  2000    425.000     Füme   Kayseri - Kocasinan      Audi    A6
3  2016    185.000    Siyah  Tekirdağ - Çerkezköy      Audi    A4
4  2008    229.015    Siyah        Sivas - Merkez      Audi    A4

                          Engine     Price1 Currency
0     1.6 TDI Sportback Ambition    850.000       TL
1  1.4 TFSI Sportback Attraction    730.000       TL
2                    Sedan 1.8 T    379.900       TL
3   Avant 2.0 TDI Quattro Design  1.415.000       TL
4                      Avant 1.6    675.058       TL

In [36]:
col4 = df.Location.str.split(" ", 1, expand = True).rename({0:"City", 1:"District"}, axis = 1)
col4

           City      District
0       Malatya   - Yeşilyurt
1      İstanbul       - Şişli
2       Kayseri   - Kocasinan
3      Tekirdağ   - Çerkezköy
4         Sivas      - Merkez
...         ...           ...
1799      Sivas      - Merkez
1800  Gaziantep  - Şehitkamil
1801   İstanbul  - Beylikdüzü
1802     Ankara     - Çankaya
1803      Bursa     - Nilüfer

[1804 rows x 2 columns]

In [37]:
df = df.join(col4)

In [38]:
df

,Year,Kilometers,Color,Location,Car Brand,Model,Engine,Price1,Currency,City,District
0,2012,222.000,Siyah,Malatya - Yeşilyurt,Audi,A1,1.6 TDI Sportback Ambition,850.000,TL,Malatya,- Yeşilyurt
1,2012,106.000,Kırmızı,İstanbul - Şişli,Audi,A1,1.4 TFSI Sportback Attraction,730.000,TL,İstanbul,- Şişli
2,2000,425.000,Füme,Kayseri - Kocasinan,Audi,A6,Sedan 1.8 T,379.900,TL,Kayseri,- Kocasinan
3,2016,185.000,Siyah,Tekirdağ - Çerkezköy,Audi,A4,Avant 2.0 TDI Quattro Design,1.415.000,TL,Tekirdağ,- Çerkezköy
4,2008,229.015,Siyah,Sivas - Merkez,Audi,A4,Avant 1.6,675.058,TL,Sivas,- Merkez
...,...,...,...,...,...,...,...,...,...,...,...
1799,2016,115.000,Siyah,Sivas - Merkez,Audi,A6,Sedan 2.0 TDI,2.465.000,TL,Sivas,- Merkez
1800,2012,225.000,Beyaz,Gaziantep - Şehitkamil,Audi,A4,Sedan 2.0 TDI,1.070.000,TL,Gaziantep,- Şehitkamil
1801,2016,152.000,-,İstanbul - Beylikdüzü,Audi,A6,Sedan 2.0 TDI Quattro,2.240.000,TL,İstanbul,- Beylikdüzü
1802,2005,230.000,Füme,Ankara - Çankaya,Audi,A3,Sportback 1.6 Ambition,505.000,TL,Ankara,- Çankaya
1803,2015,189.000,Beyaz,Bursa - Nilüfer,Audi,A4,Sedan 2.0 TDI,1.390.000,TL,Bursa,- Nilüfer

In [39]:
df = df.drop("Location", axis = 1)

In [40]:
df['District'] = df['District'].str.replace("-", " ")

In [41]:
df

,Year,Kilometers,Color,Car Brand,Model,Engine,Price1,Currency,City,District
0,2012,222.000,Siyah,Audi,A1,1.6 TDI Sportback Ambition,850.000,TL,Malatya,Yeşilyurt
1,2012,106.000,Kırmızı,Audi,A1,1.4 TFSI Sportback Attraction,730.000,TL,İstanbul,Şişli
2,2000,425.000,Füme,Audi,A6,Sedan 1.8 T,379.900,TL,Kayseri,Kocasinan
3,2016,185.000,Siyah,Audi,A4,Avant 2.0 TDI Quattro Design,1.415.000,TL,Tekirdağ,Çerkezköy
4,2008,229.015,Siyah,Audi,A4,Avant 1.6,675.058,TL,Sivas,Merkez
...,...,...,...,...,...,...,...,...,...,...
1799,2016,115.000,Siyah,Audi,A6,Sedan 2.0 TDI,2.465.000,TL,Sivas,Merkez
1800,2012,225.000,Beyaz,Audi,A4,Sedan 2.0 TDI,1.070.000,TL,Gaziantep,Şehitkamil
1801,2016,152.000,-,Audi,A6,Sedan 2.0 TDI Quattro,2.240.000,TL,İstanbul,Beylikdüzü
1802,2005,230.000,Füme,Audi,A3,Sportback 1.6 Ambition,505.000,TL,Ankara,Çankaya
1803,2015,189.000,Beyaz,Audi,A4,Sedan 2.0 TDI,1.390.000,TL,Bursa,Nilüfer

In [42]:
df.rename(columns = {"Price1":"Price"}, inplace = True)

In [43]:
df

,Year,Kilometers,Color,Car Brand,Model,Engine,Price,Currency,City,District
0,2012,222.000,Siyah,Audi,A1,1.6 TDI Sportback Ambition,850.000,TL,Malatya,Yeşilyurt
1,2012,106.000,Kırmızı,Audi,A1,1.4 TFSI Sportback Attraction,730.000,TL,İstanbul,Şişli
2,2000,425.000,Füme,Audi,A6,Sedan 1.8 T,379.900,TL,Kayseri,Kocasinan
3,2016,185.000,Siyah,Audi,A4,Avant 2.0 TDI Quattro Design,1.415.000,TL,Tekirdağ,Çerkezköy
4,2008,229.015,Siyah,Audi,A4,Avant 1.6,675.058,TL,Sivas,Merkez
...,...,...,...,...,...,...,...,...,...,...
1799,2016,115.000,Siyah,Audi,A6,Sedan 2.0 TDI,2.465.000,TL,Sivas,Merkez
1800,2012,225.000,Beyaz,Audi,A4,Sedan 2.0 TDI,1.070.000,TL,Gaziantep,Şehitkamil
1801,2016,152.000,-,Audi,A6,Sedan 2.0 TDI Quattro,2.240.000,TL,İstanbul,Beylikdüzü
1802,2005,230.000,Füme,Audi,A3,Sportback 1.6 Ambition,505.000,TL,Ankara,Çankaya
1803,2015,189.000,Beyaz,Audi,A4,Sedan 2.0 TDI,1.390.000,TL,Bursa,Nilüfer

In [44]:
df['Year'] = df['Year'].astype(int)

In [49]:
df['Kilometers'] = df['Kilometers'].str.replace('.', '')

C:\Users\user\AppData\Local\Temp\ipykernel_14244\2414687831.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Kilometers'] = df['Kilometers'].str.replace('.', '')

In [52]:
df = df.drop(df[df['Kilometers'] == '-'].index)

In [56]:
df[df['Kilometers'] == '83000Km']

,Year,Kilometers,Color,Car Brand,Model,Engine,Price,Currency,City,District
1744,2015,83000Km,Siyah,Audi,A4,Sedan 2.0 TDI Quattro,1.855.000,TL,Kocaeli,Gebze

In [57]:
df['Kilometers'][1744] = '83000'

C:\Users\user\AppData\Local\Temp\ipykernel_14244\1247859211.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Kilometers'][1744] = '83000'

In [58]:
df['Kilometers'] = df['Kilometers'].astype(int)

In [59]:
type(df['Kilometers'][0])

numpy.int32

In [61]:
df = df.drop("Currency", axis = 1)

In [62]:
df

,Year,Kilometers,Color,Car Brand,Model,Engine,Price,City,District
0,2012,222000,Siyah,Audi,A1,1.6 TDI Sportback Ambition,850.000,Malatya,Yeşilyurt
1,2012,106000,Kırmızı,Audi,A1,1.4 TFSI Sportback Attraction,730.000,İstanbul,Şişli
2,2000,425000,Füme,Audi,A6,Sedan 1.8 T,379.900,Kayseri,Kocasinan
3,2016,185000,Siyah,Audi,A4,Avant 2.0 TDI Quattro Design,1.415.000,Tekirdağ,Çerkezköy
4,2008,229015,Siyah,Audi,A4,Avant 1.6,675.058,Sivas,Merkez
...,...,...,...,...,...,...,...,...,...
1799,2016,115000,Siyah,Audi,A6,Sedan 2.0 TDI,2.465.000,Sivas,Merkez
1800,2012,225000,Beyaz,Audi,A4,Sedan 2.0 TDI,1.070.000,Gaziantep,Şehitkamil
1801,2016,152000,-,Audi,A6,Sedan 2.0 TDI Quattro,2.240.000,İstanbul,Beylikdüzü
1802,2005,230000,Füme,Audi,A3,Sportback 1.6 Ambition,505.000,Ankara,Çankaya
1803,2015,189000,Beyaz,Audi,A4,Sedan 2.0 TDI,1.390.000,Bursa,Nilüfer

In [63]:
col6 = df['Engine'].str.split(' ', n=1, expand=True).rename({0: 'Engine1', 1: 'Devami'}, axis=1)
col6

        Engine1                     Devami
0           1.6     TDI Sportback Ambition
1           1.4  TFSI Sportback Attraction
2         Sedan                      1.8 T
3         Avant     2.0 TDI Quattro Design
4         Avant                        1.6
...         ...                        ...
1799      Sedan                    2.0 TDI
1800      Sedan                    2.0 TDI
1801      Sedan            2.0 TDI Quattro
1802  Sportback               1.6 Ambition
1803      Sedan                    2.0 TDI

[1802 rows x 2 columns]

In [64]:
df = df.join(col6)

In [70]:
sedan_rows = df[df['Engine1'] == 'Sedan']

df.loc[sedan_rows.index, 'Engine1'] = sedan_rows.apply(lambda row: row['Devami'][:3], axis=1)

In [75]:
avant = df[df['Engine1'] == 'Avant']
df.loc[avant.index, 'Engine1'] = avant.apply(lambda row: row['Devami'][:3], axis = 1)

In [77]:
sportback = df[df['Engine1'] == 'Sportback']
df.loc[sportback.index, 'Engine1'] = sportback.apply(lambda row: row['Devami'][:3], axis = 1)

In [79]:
allroad = df[df['Engine1'] == 'Allroad']
df.loc[allroad.index, 'Engine1'] = allroad.apply(lambda row: row['Devami'][8:11], axis = 1)

In [81]:
coupe = df[df['Engine1'] == 'Coupe']
df.loc[coupe.index, 'Engine1'] = coupe.apply(lambda row: row['Devami'][:3], axis = 1)

In [84]:
cabrio = df[df['Engine1'] == 'Cabrio']
df.loc[cabrio.index, 'Engine1'] = cabrio.apply(lambda row: row['Devami'][:3], axis = 1)

In [87]:
s3 = df[df['Engine1'] == 'S3']
df.loc[s3.index, 'Engine1'] = s3.apply(lambda row: row['Devami'][:3], axis = 1)

In [90]:
serisi = df[df['Engine1'] == 'Serisi']
df.loc[serisi.index, 'Engine1'] = serisi.apply(lambda row: row['Devami'][:3], axis = 1)

In [94]:
df = df.drop(df[df['Engine1'] == 'RS6'].index)

In [97]:
df = df.drop(df[df['Engine1'] == 'RS3'].index)

In [101]:
df = df.drop(df[df['Engine1'] == 'RS4'].index)

In [105]:
df = df.drop(df[df['Engine1'] == 'S2'].index)

In [110]:
df['Engine1'] = df['Engine1'].astype(float)

In [111]:
df = df.drop(columns = 'Engine')

In [112]:
df

,Year,Kilometers,Color,Car Brand,Model,Price,City,District,Engine1,Devami
0,2012,222000,Siyah,Audi,A1,850.000,Malatya,Yeşilyurt,1.6,TDI Sportback Ambition
1,2012,106000,Kırmızı,Audi,A1,730.000,İstanbul,Şişli,1.4,TFSI Sportback Attraction
2,2000,425000,Füme,Audi,A6,379.900,Kayseri,Kocasinan,1.8,1.8 T
3,2016,185000,Siyah,Audi,A4,1.415.000,Tekirdağ,Çerkezköy,2.0,2.0 TDI Quattro Design
4,2008,229015,Siyah,Audi,A4,675.058,Sivas,Merkez,1.6,1.6
...,...,...,...,...,...,...,...,...,...,...
1799,2016,115000,Siyah,Audi,A6,2.465.000,Sivas,Merkez,2.0,2.0 TDI
1800,2012,225000,Beyaz,Audi,A4,1.070.000,Gaziantep,Şehitkamil,2.0,2.0 TDI
1801,2016,152000,-,Audi,A6,2.240.000,İstanbul,Beylikdüzü,2.0,2.0 TDI Quattro
1802,2005,230000,Füme,Audi,A3,505.000,Ankara,Çankaya,1.6,1.6 Ambition
1803,2015,189000,Beyaz,Audi,A4,1.390.000,Bursa,Nilüfer,2.0,2.0 TDI

In [113]:
df.rename(columns = {"Engine1":"Engine"}, inplace = True)

In [114]:
df = df.drop(columns = 'Devami')

In [115]:
df

,Year,Kilometers,Color,Car Brand,Model,Price,City,District,Engine
0,2012,222000,Siyah,Audi,A1,850.000,Malatya,Yeşilyurt,1.6
1,2012,106000,Kırmızı,Audi,A1,730.000,İstanbul,Şişli,1.4
2,2000,425000,Füme,Audi,A6,379.900,Kayseri,Kocasinan,1.8
3,2016,185000,Siyah,Audi,A4,1.415.000,Tekirdağ,Çerkezköy,2.0
4,2008,229015,Siyah,Audi,A4,675.058,Sivas,Merkez,1.6
...,...,...,...,...,...,...,...,...,...
1799,2016,115000,Siyah,Audi,A6,2.465.000,Sivas,Merkez,2.0
1800,2012,225000,Beyaz,Audi,A4,1.070.000,Gaziantep,Şehitkamil,2.0
1801,2016,152000,-,Audi,A6,2.240.000,İstanbul,Beylikdüzü,2.0
1802,2005,230000,Füme,Audi,A3,505.000,Ankara,Çankaya,1.6
1803,2015,189000,Beyaz,Audi,A4,1.390.000,Bursa,Nilüfer,2.0

In [120]:
df.dtypes

Year            int32
Kilometers      int32
Color          object
Car Brand      object
Model          object
Price          object
City           object
District       object
Engine        float64
dtype: object

In [122]:
df['Price'] = df['Price'].str.replace('.', '')

C:\Users\user\AppData\Local\Temp\ipykernel_14244\80450319.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Price'] = df['Price'].str.replace('.', '')

In [123]:
df['Price'] = df['Price'].astype(int)

In [124]:
df.dtypes

Year            int32
Kilometers      int32
Color          object
Car Brand      object
Model          object
Price           int32
City           object
District       object
Engine        float64
dtype: object

In [125]:
df.reset_index(drop = True, inplace = True)
df

,Year,Kilometers,Color,Car Brand,Model,Price,City,District,Engine
0,2012,222000,Siyah,Audi,A1,850000,Malatya,Yeşilyurt,1.6
1,2012,106000,Kırmızı,Audi,A1,730000,İstanbul,Şişli,1.4
2,2000,425000,Füme,Audi,A6,379900,Kayseri,Kocasinan,1.8
3,2016,185000,Siyah,Audi,A4,1415000,Tekirdağ,Çerkezköy,2.0
4,2008,229015,Siyah,Audi,A4,675058,Sivas,Merkez,1.6
...,...,...,...,...,...,...,...,...,...
1792,2016,115000,Siyah,Audi,A6,2465000,Sivas,Merkez,2.0
1793,2012,225000,Beyaz,Audi,A4,1070000,Gaziantep,Şehitkamil,2.0
1794,2016,152000,-,Audi,A6,2240000,İstanbul,Beylikdüzü,2.0
1795,2005,230000,Füme,Audi,A3,505000,Ankara,Çankaya,1.6
1796,2015,189000,Beyaz,Audi,A4,1390000,Bursa,Nilüfer,2.0

In [126]:
df.to_csv('car-sale-audi.csv', index = False)