In [1]:
headers = ({'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/122.0.0.0 Safari/537.36'})

In [16]:
import requests
from bs4 import BeautifulSoup

base_url = "https://www.arabam.com/ikinci-el/otomobil/volkswagen-golf?take=50&page="
car_data = []

for page_number in range(1, 51):
    url = base_url + str(page_number)
    data = requests.get(url).text
    soup = BeautifulSoup(data, 'html.parser')
    listings = soup.find_all('tr', class_='listing-list-item should-hover bg-white')
    for listing in listings:
        model = listing.find('div', class_='listing-text-new').text
        year = listing.find('td', class_='listing-text').text.strip()
        kilometers = listing.find_all('td', class_='listing-text')[1].text.strip()
        color = listing.find_all('td', class_='listing-text')[2].text.strip()
        price = listing.find('span', class_='db no-wrap listing-price').text.strip()
            
        location = listing.find('span', class_='').text + " - " + listing.find_all('span', class_='')[1].text

        car_data.append([model, year, kilometers, color, price, location])

In [17]:
import pandas as pd
df = pd.DataFrame(car_data, columns=['Model', 'Year', 'Kilometers', 'Color', 'Price', 'Location'])
df

,Model,Year,Kilometers,Color,Price,Location
0,Volkswagen Golf 1.6 TDi BlueMotion Comfortline,2017,110.000,Gri,968.000 TL,Ankara - Çankaya
1,Volkswagen Golf 1.2 TSi Comfortline,2014,174.000,Siyah,799.000 TL,İstanbul - Esenyurt
2,Volkswagen Golf 1.4 TSi Comfortline,2015,130.000,Beyaz,975.000 TL,Sivas - Merkez
3,Volkswagen Golf 1.6 FSi Midline Plus,2006,237.000,Gri (Gümüş),426.000 TL,İstanbul - Sultangazi
4,Volkswagen Golf 1.6 TDi BlueMotion Comfortline,2013,406.000,Beyaz,655.000 TL,Hatay - Antakya
...,...,...,...,...,...,...
2143,Volkswagen Golf 1.6 TDi Trendline,2012,175.000,Siyah,714.500 TL,Tokat - Merkez
2144,Volkswagen Golf 1.6 TDi BlueMotion Midline Plus,2015,173.000,Beyaz,765.000 TL,Çanakkale - Ezine
2145,Volkswagen Golf 1.6 TDi Trendline,2014,218.000,Beyaz,695.000 TL,İzmir - Buca
2146,Volkswagen Golf 1.6 TDi BlueMotion Midline Plus,2016,147.000,Beyaz,720.000 TL,Batman - Merkez
2147,Volkswagen Golf 1.6 FSi Comfortline,2004,172.000,Siyah,470.000 TL,Malatya - Battalgazi

In [18]:
col = df["Model"].str.split(" ", 1, expand=True).rename({0:"Car Brand", 1:"CarModel"}, axis = 1)

In [19]:
df = df.join([col])

In [20]:
df = df.drop("Model", axis = 1)

In [21]:
df.isnull().sum()

Year          0
Kilometers    0
Color         0
Price         0
Location      0
Car Brand     0
CarModel      0
dtype: int64

In [22]:
col2 = df.CarModel.str.split(" ", 1, expand=True).rename({0:"Model", 1:"Engine"}, axis = 1)

In [23]:
df = df.join(col2)

In [24]:
df = df.drop('CarModel', axis = 1)

In [25]:
col3 = df.Price.str.split(" ", 1, expand = True).rename({0:"Price1", 1:"Currency"}, axis = 1)

In [26]:
df = df.join(col3)
df

,Year,Kilometers,Color,Price,Location,Car Brand,Model,Engine,Price1,Currency
0,2017,110.000,Gri,968.000 TL,Ankara - Çankaya,Volkswagen,Golf,1.6 TDi BlueMotion Comfortline,968.000,TL
1,2014,174.000,Siyah,799.000 TL,İstanbul - Esenyurt,Volkswagen,Golf,1.2 TSi Comfortline,799.000,TL
2,2015,130.000,Beyaz,975.000 TL,Sivas - Merkez,Volkswagen,Golf,1.4 TSi Comfortline,975.000,TL
3,2006,237.000,Gri (Gümüş),426.000 TL,İstanbul - Sultangazi,Volkswagen,Golf,1.6 FSi Midline Plus,426.000,TL
4,2013,406.000,Beyaz,655.000 TL,Hatay - Antakya,Volkswagen,Golf,1.6 TDi BlueMotion Comfortline,655.000,TL
...,...,...,...,...,...,...,...,...,...,...
2143,2012,175.000,Siyah,714.500 TL,Tokat - Merkez,Volkswagen,Golf,1.6 TDi Trendline,714.500,TL
2144,2015,173.000,Beyaz,765.000 TL,Çanakkale - Ezine,Volkswagen,Golf,1.6 TDi BlueMotion Midline Plus,765.000,TL
2145,2014,218.000,Beyaz,695.000 TL,İzmir - Buca,Volkswagen,Golf,1.6 TDi Trendline,695.000,TL
2146,2016,147.000,Beyaz,720.000 TL,Batman - Merkez,Volkswagen,Golf,1.6 TDi BlueMotion Midline Plus,720.000,TL
2147,2004,172.000,Siyah,470.000 TL,Malatya - Battalgazi,Volkswagen,Golf,1.6 FSi Comfortline,470.000,TL

In [27]:
if "Price" in df.columns:
    df = df.drop("Price", axis=1)
else:
    print("Column 'Price' not found in the dataset.")

print(df.head())

   Year Kilometers        Color               Location   Car Brand Model  \
0  2017    110.000          Gri       Ankara - Çankaya  Volkswagen  Golf
1  2014    174.000        Siyah    İstanbul - Esenyurt  Volkswagen  Golf
2  2015    130.000        Beyaz         Sivas - Merkez  Volkswagen  Golf
3  2006    237.000  Gri (Gümüş)  İstanbul - Sultangazi  Volkswagen  Golf
4  2013    406.000        Beyaz        Hatay - Antakya  Volkswagen  Golf

                           Engine   Price1 Currency
0  1.6 TDi BlueMotion Comfortline  968.000       TL
1             1.2 TSi Comfortline  799.000       TL
2             1.4 TSi Comfortline  975.000       TL
3            1.6 FSi Midline Plus  426.000       TL
4  1.6 TDi BlueMotion Comfortline  655.000       TL

In [28]:
col4 = df.Location.str.split(" ", 1, expand = True).rename({0:"City", 1:"District"}, axis = 1)
col4

           City      District
0        Ankara     - Çankaya
1      İstanbul    - Esenyurt
2         Sivas      - Merkez
3      İstanbul  - Sultangazi
4         Hatay     - Antakya
...         ...           ...
2143      Tokat      - Merkez
2144  Çanakkale       - Ezine
2145      İzmir        - Buca
2146     Batman      - Merkez
2147    Malatya  - Battalgazi

[2148 rows x 2 columns]

In [29]:
df = df.join(col4)

In [30]:
df = df.drop("Location", axis = 1)

In [31]:
df['District'] = df['District'].str.replace("-", " ")

In [32]:
df.rename(columns = {"Price1":"Price"}, inplace = True)

In [33]:
df['Year'] = df['Year'].astype(int)

In [34]:
df['Kilometers'] = df['Kilometers'].str.replace('.', '')

C:\Users\user\AppData\Local\Temp\ipykernel_15848\2414687831.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Kilometers'] = df['Kilometers'].str.replace('.', '')

In [35]:
df['Kilometers'] = df['Kilometers'].str.replace('-', '').astype(int)

In [36]:
df['Kilometers'].astype(int)

0       110000
1       174000
2       130000
3       237000
4       406000
         ...
2143    175000
2144    173000
2145    218000
2146    147000
2147    172000
Name: Kilometers, Length: 2148, dtype: int32

In [37]:
type(df['Kilometers'][0])

numpy.int32

In [38]:
df = df.drop("Currency", axis = 1)

In [39]:
col6 = df['Engine'].str.split(' ', n=1, expand=True).rename({0: 'Engine1', 1: 'Devami'}, axis=1)
col6

     Engine1                       Devami
0        1.6   TDi BlueMotion Comfortline
1        1.2              TSi Comfortline
2        1.4              TSi Comfortline
3        1.6             FSi Midline Plus
4        1.6   TDi BlueMotion Comfortline
...      ...                          ...
2143     1.6                TDi Trendline
2144     1.6  TDi BlueMotion Midline Plus
2145     1.6                TDi Trendline
2146     1.6  TDi BlueMotion Midline Plus
2147     1.6              FSi Comfortline

[2148 rows x 2 columns]

In [40]:
df = df.join(col6)

In [41]:
df['Engine1'] = df['Engine1'].astype(float)

In [42]:
df = df.drop(columns = 'Engine')

In [43]:
df.rename(columns = {"Engine1":"Engine"}, inplace = True)

In [44]:
df = df.drop(columns = 'Devami')

In [45]:
df['Price'] = df['Price'].str.replace('.', '').astype(int)

C:\Users\user\AppData\Local\Temp\ipykernel_15848\3128332942.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Price'] = df['Price'].str.replace('.', '').astype(int)

In [46]:
df.reset_index(drop = True, inplace = True)
df

,Year,Kilometers,Color,Car Brand,Model,Price,City,District,Engine
0,2017,110000,Gri,Volkswagen,Golf,968000,Ankara,Çankaya,1.6
1,2014,174000,Siyah,Volkswagen,Golf,799000,İstanbul,Esenyurt,1.2
2,2015,130000,Beyaz,Volkswagen,Golf,975000,Sivas,Merkez,1.4
3,2006,237000,Gri (Gümüş),Volkswagen,Golf,426000,İstanbul,Sultangazi,1.6
4,2013,406000,Beyaz,Volkswagen,Golf,655000,Hatay,Antakya,1.6
...,...,...,...,...,...,...,...,...,...
2143,2012,175000,Siyah,Volkswagen,Golf,714500,Tokat,Merkez,1.6
2144,2015,173000,Beyaz,Volkswagen,Golf,765000,Çanakkale,Ezine,1.6
2145,2014,218000,Beyaz,Volkswagen,Golf,695000,İzmir,Buca,1.6
2146,2016,147000,Beyaz,Volkswagen,Golf,720000,Batman,Merkez,1.6
2147,2004,172000,Siyah,Volkswagen,Golf,470000,Malatya,Battalgazi,1.6

In [47]:
df.to_csv('car-sale-volks-golf.csv', index = False)