In [62]:
headers = ({'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/122.0.0.0 Safari/537.36'})

In [63]:
import requests
from bs4 import BeautifulSoup

base_url = "https://www.arabam.com/ikinci-el/otomobil/opel-astra?take=50&page="
car_data = []

for page_number in range(1, 51):
    url = base_url + str(page_number)
    data = requests.get(url).text
    soup = BeautifulSoup(data, 'html.parser')
    listings = soup.find_all('tr', class_='listing-list-item should-hover bg-white')
    for listing in listings:
        model = listing.find('div', class_='listing-text-new').text
        year = listing.find('td', class_='listing-text').text.strip()
        kilometers = listing.find_all('td', class_='listing-text')[1].text.strip()
        color = listing.find_all('td', class_='listing-text')[2].text.strip()
        price = listing.find('span', class_='db no-wrap listing-price').text.strip()
            
        location = listing.find('span', class_='').text + " - " + listing.find_all('span', class_='')[1].text

        car_data.append([model, year, kilometers, color, price, location])

In [64]:
import pandas as pd
df = pd.DataFrame(car_data, columns=['Model', 'Year', 'Kilometers', 'Color', 'Price', 'Location'])
df

,Model,Year,Kilometers,Color,Price,Location
0,Opel Astra 1.4 T Sport,2013,148.000,Beyaz,750.000 TL,Isparta - Merkez
1,Opel Astra 1.3 CDTI Essentia Konfor,2011,152.000,Füme,569.000 TL,İstanbul - Küçükçekmece
2,Opel Astra 1.6 CDTI Design,2016,230.000,Füme,750.000 TL,Kahramanmaraş - Onikişubat
3,Opel Astra 1.6 Edition Plus,2016,66.000,Gri,738.000 TL,Ankara - Çankaya
4,Opel Astra 1.6 Enjoy 111.Yıl,2012,153.500,Siyah,607.900 TL,İstanbul - Ataşehir
...,...,...,...,...,...,...
2486,Opel Astra 1.3 CDTI Edition,2015,116.000,Beyaz,730.000 TL,Batman - Kozluk
2487,Opel Astra 1.6 Essentia Konfor,2012,211.000,Beyaz,535.000 TL,Tekirdağ - Hayrabolu
2488,Opel Astra 1.3 CDTI Enjoy Elegance,2008,256.400,Füme,440.000 TL,Mardin - Artuklu
2489,Opel Astra 1.3 CDTI Enjoy,2008,230.000,Siyah,500.000 TL,Bursa - Yıldırım
2490,Opel Astra 1.4 T Sport,2013,150.000,Siyah,600.000 TL,Bursa - İnegöl

In [65]:
col = df["Model"].str.split(" ", 1, expand=True).rename({0:"Car Brand", 1:"CarModel"}, axis = 1)

In [66]:
df = df.join([col])

In [67]:
df

,Model,Year,Kilometers,Color,Price,Location,Car Brand,CarModel
0,Opel Astra 1.4 T Sport,2013,148.000,Beyaz,750.000 TL,Isparta - Merkez,Opel,Astra 1.4 T Sport
1,Opel Astra 1.3 CDTI Essentia Konfor,2011,152.000,Füme,569.000 TL,İstanbul - Küçükçekmece,Opel,Astra 1.3 CDTI Essentia Konfor
2,Opel Astra 1.6 CDTI Design,2016,230.000,Füme,750.000 TL,Kahramanmaraş - Onikişubat,Opel,Astra 1.6 CDTI Design
3,Opel Astra 1.6 Edition Plus,2016,66.000,Gri,738.000 TL,Ankara - Çankaya,Opel,Astra 1.6 Edition Plus
4,Opel Astra 1.6 Enjoy 111.Yıl,2012,153.500,Siyah,607.900 TL,İstanbul - Ataşehir,Opel,Astra 1.6 Enjoy 111.Yıl
...,...,...,...,...,...,...,...,...
2486,Opel Astra 1.3 CDTI Edition,2015,116.000,Beyaz,730.000 TL,Batman - Kozluk,Opel,Astra 1.3 CDTI Edition
2487,Opel Astra 1.6 Essentia Konfor,2012,211.000,Beyaz,535.000 TL,Tekirdağ - Hayrabolu,Opel,Astra 1.6 Essentia Konfor
2488,Opel Astra 1.3 CDTI Enjoy Elegance,2008,256.400,Füme,440.000 TL,Mardin - Artuklu,Opel,Astra 1.3 CDTI Enjoy Elegance
2489,Opel Astra 1.3 CDTI Enjoy,2008,230.000,Siyah,500.000 TL,Bursa - Yıldırım,Opel,Astra 1.3 CDTI Enjoy
2490,Opel Astra 1.4 T Sport,2013,150.000,Siyah,600.000 TL,Bursa - İnegöl,Opel,Astra 1.4 T Sport

In [68]:
df = df.drop("Model", axis = 1)

In [69]:
df.isnull().sum()

Year          0
Kilometers    0
Color         0
Price         0
Location      0
Car Brand     0
CarModel      0
dtype: int64

In [70]:
col2 = df.CarModel.str.split(" ", 1, expand=True).rename({0:"Model", 1:"Engine"}, axis = 1)

In [71]:
df = df.join(col2)

In [72]:
df = df.drop('CarModel', axis = 1)

In [73]:
col3 = df.Price.str.split(" ", 1, expand = True).rename({0:"Price1", 1:"Currency"}, axis = 1)

In [74]:
df = df.join(col3)
df

,Year,Kilometers,Color,Price,Location,Car Brand,Model,Engine,Price1,Currency
0,2013,148.000,Beyaz,750.000 TL,Isparta - Merkez,Opel,Astra,1.4 T Sport,750.000,TL
1,2011,152.000,Füme,569.000 TL,İstanbul - Küçükçekmece,Opel,Astra,1.3 CDTI Essentia Konfor,569.000,TL
2,2016,230.000,Füme,750.000 TL,Kahramanmaraş - Onikişubat,Opel,Astra,1.6 CDTI Design,750.000,TL
3,2016,66.000,Gri,738.000 TL,Ankara - Çankaya,Opel,Astra,1.6 Edition Plus,738.000,TL
4,2012,153.500,Siyah,607.900 TL,İstanbul - Ataşehir,Opel,Astra,1.6 Enjoy 111.Yıl,607.900,TL
...,...,...,...,...,...,...,...,...,...,...
2486,2015,116.000,Beyaz,730.000 TL,Batman - Kozluk,Opel,Astra,1.3 CDTI Edition,730.000,TL
2487,2012,211.000,Beyaz,535.000 TL,Tekirdağ - Hayrabolu,Opel,Astra,1.6 Essentia Konfor,535.000,TL
2488,2008,256.400,Füme,440.000 TL,Mardin - Artuklu,Opel,Astra,1.3 CDTI Enjoy Elegance,440.000,TL
2489,2008,230.000,Siyah,500.000 TL,Bursa - Yıldırım,Opel,Astra,1.3 CDTI Enjoy,500.000,TL
2490,2013,150.000,Siyah,600.000 TL,Bursa - İnegöl,Opel,Astra,1.4 T Sport,600.000,TL

In [75]:
if "Price" in df.columns:
    df = df.drop("Price", axis=1)
else:
    print("Column 'Price' not found in the dataset.")

print(df.head())

   Year Kilometers  Color                    Location Car Brand  Model  \
0  2013    148.000  Beyaz            Isparta - Merkez      Opel  Astra
1  2011    152.000   Füme     İstanbul - Küçükçekmece      Opel  Astra
2  2016    230.000   Füme  Kahramanmaraş - Onikişubat      Opel  Astra
3  2016     66.000    Gri            Ankara - Çankaya      Opel  Astra
4  2012    153.500  Siyah         İstanbul - Ataşehir      Opel  Astra

                     Engine   Price1 Currency
0               1.4 T Sport  750.000       TL
1  1.3 CDTI Essentia Konfor  569.000       TL
2           1.6 CDTI Design  750.000       TL
3          1.6 Edition Plus  738.000       TL
4         1.6 Enjoy 111.Yıl  607.900       TL

In [76]:
col4 = df.Location.str.split(" ", 1, expand = True).rename({0:"City", 1:"District"}, axis = 1)
col4

               City        District
0           Isparta        - Merkez
1          İstanbul  - Küçükçekmece
2     Kahramanmaraş    - Onikişubat
3            Ankara       - Çankaya
4          İstanbul      - Ataşehir
...             ...             ...
2486         Batman        - Kozluk
2487       Tekirdağ     - Hayrabolu
2488         Mardin       - Artuklu
2489          Bursa      - Yıldırım
2490          Bursa        - İnegöl

[2491 rows x 2 columns]

In [77]:
df = df.join(col4)

In [78]:
df

,Year,Kilometers,Color,Location,Car Brand,Model,Engine,Price1,Currency,City,District
0,2013,148.000,Beyaz,Isparta - Merkez,Opel,Astra,1.4 T Sport,750.000,TL,Isparta,- Merkez
1,2011,152.000,Füme,İstanbul - Küçükçekmece,Opel,Astra,1.3 CDTI Essentia Konfor,569.000,TL,İstanbul,- Küçükçekmece
2,2016,230.000,Füme,Kahramanmaraş - Onikişubat,Opel,Astra,1.6 CDTI Design,750.000,TL,Kahramanmaraş,- Onikişubat
3,2016,66.000,Gri,Ankara - Çankaya,Opel,Astra,1.6 Edition Plus,738.000,TL,Ankara,- Çankaya
4,2012,153.500,Siyah,İstanbul - Ataşehir,Opel,Astra,1.6 Enjoy 111.Yıl,607.900,TL,İstanbul,- Ataşehir
...,...,...,...,...,...,...,...,...,...,...,...
2486,2015,116.000,Beyaz,Batman - Kozluk,Opel,Astra,1.3 CDTI Edition,730.000,TL,Batman,- Kozluk
2487,2012,211.000,Beyaz,Tekirdağ - Hayrabolu,Opel,Astra,1.6 Essentia Konfor,535.000,TL,Tekirdağ,- Hayrabolu
2488,2008,256.400,Füme,Mardin - Artuklu,Opel,Astra,1.3 CDTI Enjoy Elegance,440.000,TL,Mardin,- Artuklu
2489,2008,230.000,Siyah,Bursa - Yıldırım,Opel,Astra,1.3 CDTI Enjoy,500.000,TL,Bursa,- Yıldırım
2490,2013,150.000,Siyah,Bursa - İnegöl,Opel,Astra,1.4 T Sport,600.000,TL,Bursa,- İnegöl

In [79]:
df = df.drop("Location", axis = 1)

In [80]:
df['District'] = df['District'].str.replace("-", " ")

In [81]:
df

,Year,Kilometers,Color,Car Brand,Model,Engine,Price1,Currency,City,District
0,2013,148.000,Beyaz,Opel,Astra,1.4 T Sport,750.000,TL,Isparta,Merkez
1,2011,152.000,Füme,Opel,Astra,1.3 CDTI Essentia Konfor,569.000,TL,İstanbul,Küçükçekmece
2,2016,230.000,Füme,Opel,Astra,1.6 CDTI Design,750.000,TL,Kahramanmaraş,Onikişubat
3,2016,66.000,Gri,Opel,Astra,1.6 Edition Plus,738.000,TL,Ankara,Çankaya
4,2012,153.500,Siyah,Opel,Astra,1.6 Enjoy 111.Yıl,607.900,TL,İstanbul,Ataşehir
...,...,...,...,...,...,...,...,...,...,...
2486,2015,116.000,Beyaz,Opel,Astra,1.3 CDTI Edition,730.000,TL,Batman,Kozluk
2487,2012,211.000,Beyaz,Opel,Astra,1.6 Essentia Konfor,535.000,TL,Tekirdağ,Hayrabolu
2488,2008,256.400,Füme,Opel,Astra,1.3 CDTI Enjoy Elegance,440.000,TL,Mardin,Artuklu
2489,2008,230.000,Siyah,Opel,Astra,1.3 CDTI Enjoy,500.000,TL,Bursa,Yıldırım
2490,2013,150.000,Siyah,Opel,Astra,1.4 T Sport,600.000,TL,Bursa,İnegöl

In [82]:
df.rename(columns = {"Price1":"Price"}, inplace = True)

In [83]:
df['Year'] = df['Year'].astype(int)

In [84]:
df['Kilometers'] = df['Kilometers'].str.replace('.', '')

C:\Users\user\AppData\Local\Temp\ipykernel_14532\2414687831.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Kilometers'] = df['Kilometers'].str.replace('.', '')

In [85]:
df['Kilometers'] = df['Kilometers'].str.replace('-', '').astype(int)

In [86]:
df['Kilometers'].astype(int)

0       148000
1       152000
2       230000
3        66000
4       153500
         ...
2486    116000
2487    211000
2488    256400
2489    230000
2490    150000
Name: Kilometers, Length: 2491, dtype: int32

In [87]:
type(df['Kilometers'][0])

numpy.int32

In [88]:
df = df.drop("Currency", axis = 1)

In [89]:
col6 = df['Engine'].str.split(' ', n=1, expand=True).rename({0: 'Engine1', 1: 'Devami'}, axis=1)
col6

     Engine1                Devami
0        1.4               T Sport
1        1.3  CDTI Essentia Konfor
2        1.6           CDTI Design
3        1.6          Edition Plus
4        1.6         Enjoy 111.Yıl
...      ...                   ...
2486     1.3          CDTI Edition
2487     1.6       Essentia Konfor
2488     1.3   CDTI Enjoy Elegance
2489     1.3            CDTI Enjoy
2490     1.4               T Sport

[2491 rows x 2 columns]

In [90]:
df = df.join(col6)

In [91]:
df

,Year,Kilometers,Color,Car Brand,Model,Engine,Price,City,District,Engine1,Devami
0,2013,148000,Beyaz,Opel,Astra,1.4 T Sport,750.000,Isparta,Merkez,1.4,T Sport
1,2011,152000,Füme,Opel,Astra,1.3 CDTI Essentia Konfor,569.000,İstanbul,Küçükçekmece,1.3,CDTI Essentia Konfor
2,2016,230000,Füme,Opel,Astra,1.6 CDTI Design,750.000,Kahramanmaraş,Onikişubat,1.6,CDTI Design
3,2016,66000,Gri,Opel,Astra,1.6 Edition Plus,738.000,Ankara,Çankaya,1.6,Edition Plus
4,2012,153500,Siyah,Opel,Astra,1.6 Enjoy 111.Yıl,607.900,İstanbul,Ataşehir,1.6,Enjoy 111.Yıl
...,...,...,...,...,...,...,...,...,...,...,...
2486,2015,116000,Beyaz,Opel,Astra,1.3 CDTI Edition,730.000,Batman,Kozluk,1.3,CDTI Edition
2487,2012,211000,Beyaz,Opel,Astra,1.6 Essentia Konfor,535.000,Tekirdağ,Hayrabolu,1.6,Essentia Konfor
2488,2008,256400,Füme,Opel,Astra,1.3 CDTI Enjoy Elegance,440.000,Mardin,Artuklu,1.3,CDTI Enjoy Elegance
2489,2008,230000,Siyah,Opel,Astra,1.3 CDTI Enjoy,500.000,Bursa,Yıldırım,1.3,CDTI Enjoy
2490,2013,150000,Siyah,Opel,Astra,1.4 T Sport,600.000,Bursa,İnegöl,1.4,T Sport

In [92]:
df['Engine1'] = df['Engine1'].astype(float)

In [93]:
df = df.drop(columns = 'Engine')

In [94]:
df.rename(columns = {"Engine1":"Engine"}, inplace = True)

In [95]:
df = df.drop(columns = 'Devami')

In [96]:
df['Price'] = df['Price'].str.replace('.', '').astype(int)

C:\Users\user\AppData\Local\Temp\ipykernel_14532\3128332942.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Price'] = df['Price'].str.replace('.', '').astype(int)

In [97]:
df.reset_index(drop = True, inplace = True)
df

,Year,Kilometers,Color,Car Brand,Model,Price,City,District,Engine
0,2013,148000,Beyaz,Opel,Astra,750000,Isparta,Merkez,1.4
1,2011,152000,Füme,Opel,Astra,569000,İstanbul,Küçükçekmece,1.3
2,2016,230000,Füme,Opel,Astra,750000,Kahramanmaraş,Onikişubat,1.6
3,2016,66000,Gri,Opel,Astra,738000,Ankara,Çankaya,1.6
4,2012,153500,Siyah,Opel,Astra,607900,İstanbul,Ataşehir,1.6
...,...,...,...,...,...,...,...,...,...
2486,2015,116000,Beyaz,Opel,Astra,730000,Batman,Kozluk,1.3
2487,2012,211000,Beyaz,Opel,Astra,535000,Tekirdağ,Hayrabolu,1.6
2488,2008,256400,Füme,Opel,Astra,440000,Mardin,Artuklu,1.3
2489,2008,230000,Siyah,Opel,Astra,500000,Bursa,Yıldırım,1.3
2490,2013,150000,Siyah,Opel,Astra,600000,Bursa,İnegöl,1.4

In [98]:
df.to_csv('car-sale-opel-astra.csv', index = False)