In [1]:
headers = ({'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/122.0.0.0 Safari/537.36'})

In [33]:
import requests
from bs4 import BeautifulSoup

base_url = "https://www.arabam.com/ikinci-el/otomobil/opel-corsa?take=50&page="
car_data = []

for page_number in range(1, 51):
    url = base_url + str(page_number)
    data = requests.get(url).text
    soup = BeautifulSoup(data, 'html.parser')
    listings = soup.find_all('tr', class_='listing-list-item should-hover bg-white')
    for listing in listings:
        model = listing.find('div', class_='listing-text-new').text
        year = listing.find('td', class_='listing-text').text.strip()
        kilometers = listing.find_all('td', class_='listing-text')[1].text.strip()
        color = listing.find_all('td', class_='listing-text')[2].text.strip()
        price = listing.find('span', class_='db no-wrap listing-price').text.strip()
            
        location = listing.find('span', class_='').text + " - " + listing.find_all('span', class_='')[1].text

        car_data.append([model, year, kilometers, color, price, location])

In [34]:
import pandas as pd
df = pd.DataFrame(car_data, columns=['Model', 'Year', 'Kilometers', 'Color', 'Price', 'Location'])
df

,Model,Year,Kilometers,Color,Price,Location
0,Opel Corsa 1.3 CDTI Enjoy,2015,174.000,Gri (Gümüş),565.000 TL,Çanakkale - Çan
1,Opel Corsa 1.3 CDTI Cosmo,2005,200.000,Gri (metalik),384.900 TL,İstanbul - Küçükçekmece
2,Opel Corsa 1.3 CDTI Essentia,2012,179.000,Gri,514.000 TL,İzmir - Menemen
3,Opel Corsa 1.4 GLS,2000,140.000,Gri (Gümüş),368.000 TL,Sivas - Merkez
4,Opel Corsa 1.3 CDTI Enjoy,2008,170.000,Gri (Gümüş),289.000 TL,Gaziantep - Şehitkamil
...,...,...,...,...,...,...
2331,Opel Corsa 1.4 Comfort,2001,229.000,Gri (Gümüş),350.000 TL,Kocaeli - Gebze
2332,Opel Corsa 1.2 Twinport Essentia,2007,156.000,Beyaz,410.000 TL,İstanbul - Beylikdüzü
2333,Opel Corsa 1.4 Twinport Color Edition,2011,156.000,Kırmızı,510.000 TL,Kayseri - Melikgazi
2334,Opel Corsa 1.3 CDTI Sport,2008,207.000,Kırmızı,515.000 TL,İstanbul - Ataşehir
2335,Opel Corsa 1.7 DTi Comfort,2003,210.000,Gri (metalik),367.000 TL,Adana - Seyhan

In [35]:
col = df["Model"].str.split(" ", 1, expand=True).rename({0:"Car Brand", 1:"CarModel"}, axis = 1)

In [36]:
df = df.join([col])

In [37]:
df = df.drop("Model", axis = 1)

In [38]:
df.isnull().sum()

Year          0
Kilometers    0
Color         0
Price         0
Location      0
Car Brand     0
CarModel      0
dtype: int64

In [39]:
col2 = df.CarModel.str.split(" ", 1, expand=True).rename({0:"Model", 1:"Engine"}, axis = 1)

In [40]:
df = df.join(col2)

In [41]:
df = df.drop('CarModel', axis = 1)

In [42]:
col3 = df.Price.str.split(" ", 1, expand = True).rename({0:"Price1", 1:"Currency"}, axis = 1)

In [43]:
df = df.join(col3)
df

,Year,Kilometers,Color,Price,Location,Car Brand,Model,Engine,Price1,Currency
0,2015,174.000,Gri (Gümüş),565.000 TL,Çanakkale - Çan,Opel,Corsa,1.3 CDTI Enjoy,565.000,TL
1,2005,200.000,Gri (metalik),384.900 TL,İstanbul - Küçükçekmece,Opel,Corsa,1.3 CDTI Cosmo,384.900,TL
2,2012,179.000,Gri,514.000 TL,İzmir - Menemen,Opel,Corsa,1.3 CDTI Essentia,514.000,TL
3,2000,140.000,Gri (Gümüş),368.000 TL,Sivas - Merkez,Opel,Corsa,1.4 GLS,368.000,TL
4,2008,170.000,Gri (Gümüş),289.000 TL,Gaziantep - Şehitkamil,Opel,Corsa,1.3 CDTI Enjoy,289.000,TL
...,...,...,...,...,...,...,...,...,...,...
2331,2001,229.000,Gri (Gümüş),350.000 TL,Kocaeli - Gebze,Opel,Corsa,1.4 Comfort,350.000,TL
2332,2007,156.000,Beyaz,410.000 TL,İstanbul - Beylikdüzü,Opel,Corsa,1.2 Twinport Essentia,410.000,TL
2333,2011,156.000,Kırmızı,510.000 TL,Kayseri - Melikgazi,Opel,Corsa,1.4 Twinport Color Edition,510.000,TL
2334,2008,207.000,Kırmızı,515.000 TL,İstanbul - Ataşehir,Opel,Corsa,1.3 CDTI Sport,515.000,TL
2335,2003,210.000,Gri (metalik),367.000 TL,Adana - Seyhan,Opel,Corsa,1.7 DTi Comfort,367.000,TL

In [44]:
if "Price" in df.columns:
    df = df.drop("Price", axis=1)
else:
    print("Column 'Price' not found in the dataset.")

print(df.head())

   Year Kilometers          Color                 Location Car Brand  Model  \
0  2015    174.000    Gri (Gümüş)          Çanakkale - Çan      Opel  Corsa
1  2005    200.000  Gri (metalik)  İstanbul - Küçükçekmece      Opel  Corsa
2  2012    179.000            Gri          İzmir - Menemen      Opel  Corsa
3  2000    140.000    Gri (Gümüş)           Sivas - Merkez      Opel  Corsa
4  2008    170.000    Gri (Gümüş)   Gaziantep - Şehitkamil      Opel  Corsa

              Engine   Price1 Currency
0     1.3 CDTI Enjoy  565.000       TL
1     1.3 CDTI Cosmo  384.900       TL
2  1.3 CDTI Essentia  514.000       TL
3            1.4 GLS  368.000       TL
4     1.3 CDTI Enjoy  289.000       TL

In [45]:
col4 = df.Location.str.split(" ", 1, expand = True).rename({0:"City", 1:"District"}, axis = 1)
col4

           City        District
0     Çanakkale           - Çan
1      İstanbul  - Küçükçekmece
2         İzmir       - Menemen
3         Sivas        - Merkez
4     Gaziantep    - Şehitkamil
...         ...             ...
2331    Kocaeli         - Gebze
2332   İstanbul    - Beylikdüzü
2333    Kayseri     - Melikgazi
2334   İstanbul      - Ataşehir
2335      Adana        - Seyhan

[2336 rows x 2 columns]

In [46]:
df = df.join(col4)

In [47]:
df = df.drop("Location", axis = 1)

In [48]:
df['District'] = df['District'].str.replace("-", " ")

In [49]:
df.rename(columns = {"Price1":"Price"}, inplace = True)

In [50]:
df['Year'] = df['Year'].astype(int)

In [51]:
df['Kilometers'] = df['Kilometers'].str.replace('.', '')

C:\Users\user\AppData\Local\Temp\ipykernel_10380\2414687831.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Kilometers'] = df['Kilometers'].str.replace('.', '')

In [52]:
df['Kilometers'] = df['Kilometers'].str.replace('-', '').astype(int)

In [53]:
df['Kilometers'].astype(int)

0       174000
1       200000
2       179000
3       140000
4       170000
         ...
2331    229000
2332    156000
2333    156000
2334    207000
2335    210000
Name: Kilometers, Length: 2336, dtype: int32

In [54]:
type(df['Kilometers'][0])

numpy.int32

In [55]:
df = df.drop("Currency", axis = 1)

In [56]:
col6 = df['Engine'].str.split(' ', n=1, expand=True).rename({0: 'Engine1', 1: 'Devami'}, axis=1)
col6

     Engine1                  Devami
0        1.3              CDTI Enjoy
1        1.3              CDTI Cosmo
2        1.3           CDTI Essentia
3        1.4                     GLS
4        1.3              CDTI Enjoy
...      ...                     ...
2331     1.4                 Comfort
2332     1.2       Twinport Essentia
2333     1.4  Twinport Color Edition
2334     1.3              CDTI Sport
2335     1.7             DTi Comfort

[2336 rows x 2 columns]

In [57]:
df = df.join(col6)

In [58]:
df['Engine1'] = df['Engine1'].astype(float)

In [59]:
df = df.drop(columns = 'Engine')

In [60]:
df.rename(columns = {"Engine1":"Engine"}, inplace = True)

In [61]:
df = df.drop(columns = 'Devami')

In [62]:
df['Price'] = df['Price'].str.replace('.', '').astype(int)

C:\Users\user\AppData\Local\Temp\ipykernel_10380\3128332942.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Price'] = df['Price'].str.replace('.', '').astype(int)

In [63]:
df.reset_index(drop = True, inplace = True)
df

,Year,Kilometers,Color,Car Brand,Model,Price,City,District,Engine
0,2015,174000,Gri (Gümüş),Opel,Corsa,565000,Çanakkale,Çan,1.3
1,2005,200000,Gri (metalik),Opel,Corsa,384900,İstanbul,Küçükçekmece,1.3
2,2012,179000,Gri,Opel,Corsa,514000,İzmir,Menemen,1.3
3,2000,140000,Gri (Gümüş),Opel,Corsa,368000,Sivas,Merkez,1.4
4,2008,170000,Gri (Gümüş),Opel,Corsa,289000,Gaziantep,Şehitkamil,1.3
...,...,...,...,...,...,...,...,...,...
2331,2001,229000,Gri (Gümüş),Opel,Corsa,350000,Kocaeli,Gebze,1.4
2332,2007,156000,Beyaz,Opel,Corsa,410000,İstanbul,Beylikdüzü,1.2
2333,2011,156000,Kırmızı,Opel,Corsa,510000,Kayseri,Melikgazi,1.4
2334,2008,207000,Kırmızı,Opel,Corsa,515000,İstanbul,Ataşehir,1.3
2335,2003,210000,Gri (metalik),Opel,Corsa,367000,Adana,Seyhan,1.7

In [65]:
df.to_csv('car-sale-opel-corsa.csv', index = False)