In [1]:
headers = ({'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/122.0.0.0 Safari/537.36'})

In [2]:
import requests
from bs4 import BeautifulSoup

base_url = "https://www.arabam.com/ikinci-el/otomobil/renault-fluence?take=50&page="
car_data = []

for page_number in range(1, 51):
    url = base_url + str(page_number)
    data = requests.get(url).text
    soup = BeautifulSoup(data, 'html.parser')
    listings = soup.find_all('tr', class_='listing-list-item should-hover bg-white')
    for listing in listings:
        model = listing.find('div', class_='listing-text-new').text
        year = listing.find('td', class_='listing-text').text.strip()
        kilometers = listing.find_all('td', class_='listing-text')[1].text.strip()
        color = listing.find_all('td', class_='listing-text')[2].text.strip()
        price = listing.find('span', class_='db no-wrap listing-price').text.strip()
            
        location = listing.find('span', class_='').text + " - " + listing.find_all('span', class_='')[1].text

        car_data.append([model, year, kilometers, color, price, location])

In [3]:
import pandas as pd
df = pd.DataFrame(car_data, columns=['Model', 'Year', 'Kilometers', 'Color', 'Price', 'Location'])
df

,Model,Year,Kilometers,Color,Price,Location
0,Renault Fluence 1.5 dCi Joy,2013,202.000,Beyaz,553.500 TL,Bursa - Yıldırım
1,Renault Fluence 1.5 dCi Icon,2012,167.261,Bej,630.000 TL,Ankara - Çankaya
2,Renault Fluence 1.5 dCi Extreme Edition,2012,220.000,Gri (Gümüş),480.000 TL,İstanbul - Eyüpsultan
3,Renault Fluence 1.5 dCi Touch,2015,169.000,Beyaz,592.000 TL,Ankara - Etimesgut
4,Renault Fluence 1.5 dCi Icon,2015,120.000,Mavi,749.000 TL,Ankara - Kızılcahamam
...,...,...,...,...,...,...
1830,Renault Fluence 1.5 dCi Extreme,2011,192.000,Bej,420.000 TL,Konya - Selçuklu
1831,Renault Fluence 1.5 dCi Touch,2016,102.000,Beyaz,770.000 TL,Adıyaman - Merkez
1832,Renault Fluence 1.6 Joy,2013,200.000,Beyaz,520.000 TL,Kahramanmaraş - Onikişubat
1833,Renault Fluence 1.5 dCi Icon,2015,217.000,Gri (titanyum),685.000 TL,Mersin - Akdeniz
1834,Renault Fluence 1.5 dCi Extreme,2012,415.000,Siyah,440.000 TL,Ankara - Çankaya

In [4]:
col = df["Model"].str.split(" ", 1, expand=True).rename({0:"Car Brand", 1:"CarModel"}, axis = 1)

In [5]:
df = df.join([col])

In [6]:
df = df.drop("Model", axis = 1)

In [7]:
df.isnull().sum()

Year          0
Kilometers    0
Color         0
Price         0
Location      0
Car Brand     0
CarModel      0
dtype: int64

In [8]:
col2 = df.CarModel.str.split(" ", 1, expand=True).rename({0:"Model", 1:"Engine"}, axis = 1)

In [9]:
df = df.join(col2)

In [10]:
df = df.drop('CarModel', axis = 1)

In [11]:
col3 = df.Price.str.split(" ", 1, expand = True).rename({0:"Price1", 1:"Currency"}, axis = 1)

In [12]:
df = df.join(col3)
df

,Year,Kilometers,Color,Price,Location,Car Brand,Model,Engine,Price1,Currency
0,2013,202.000,Beyaz,553.500 TL,Bursa - Yıldırım,Renault,Fluence,1.5 dCi Joy,553.500,TL
1,2012,167.261,Bej,630.000 TL,Ankara - Çankaya,Renault,Fluence,1.5 dCi Icon,630.000,TL
2,2012,220.000,Gri (Gümüş),480.000 TL,İstanbul - Eyüpsultan,Renault,Fluence,1.5 dCi Extreme Edition,480.000,TL
3,2015,169.000,Beyaz,592.000 TL,Ankara - Etimesgut,Renault,Fluence,1.5 dCi Touch,592.000,TL
4,2015,120.000,Mavi,749.000 TL,Ankara - Kızılcahamam,Renault,Fluence,1.5 dCi Icon,749.000,TL
...,...,...,...,...,...,...,...,...,...,...
1830,2011,192.000,Bej,420.000 TL,Konya - Selçuklu,Renault,Fluence,1.5 dCi Extreme,420.000,TL
1831,2016,102.000,Beyaz,770.000 TL,Adıyaman - Merkez,Renault,Fluence,1.5 dCi Touch,770.000,TL
1832,2013,200.000,Beyaz,520.000 TL,Kahramanmaraş - Onikişubat,Renault,Fluence,1.6 Joy,520.000,TL
1833,2015,217.000,Gri (titanyum),685.000 TL,Mersin - Akdeniz,Renault,Fluence,1.5 dCi Icon,685.000,TL
1834,2012,415.000,Siyah,440.000 TL,Ankara - Çankaya,Renault,Fluence,1.5 dCi Extreme,440.000,TL

In [13]:
if "Price" in df.columns:
    df = df.drop("Price", axis=1)
else:
    print("Column 'Price' not found in the dataset.")

print(df.head())

   Year Kilometers        Color               Location Car Brand    Model  \
0  2013    202.000        Beyaz       Bursa - Yıldırım   Renault  Fluence
1  2012    167.261          Bej       Ankara - Çankaya   Renault  Fluence
2  2012    220.000  Gri (Gümüş)  İstanbul - Eyüpsultan   Renault  Fluence
3  2015    169.000        Beyaz     Ankara - Etimesgut   Renault  Fluence
4  2015    120.000         Mavi  Ankara - Kızılcahamam   Renault  Fluence

                    Engine   Price1 Currency
0              1.5 dCi Joy  553.500       TL
1             1.5 dCi Icon  630.000       TL
2  1.5 dCi Extreme Edition  480.000       TL
3            1.5 dCi Touch  592.000       TL
4             1.5 dCi Icon  749.000       TL

In [14]:
col4 = df.Location.str.split(" ", 1, expand = True).rename({0:"City", 1:"District"}, axis = 1)
col4

               City        District
0             Bursa      - Yıldırım
1            Ankara       - Çankaya
2          İstanbul    - Eyüpsultan
3            Ankara     - Etimesgut
4            Ankara  - Kızılcahamam
...             ...             ...
1830          Konya      - Selçuklu
1831       Adıyaman        - Merkez
1832  Kahramanmaraş    - Onikişubat
1833         Mersin       - Akdeniz
1834         Ankara       - Çankaya

[1835 rows x 2 columns]

In [15]:
df = df.join(col4)

In [16]:
df = df.drop("Location", axis = 1)

In [17]:
df['District'] = df['District'].str.replace("-", " ")

In [18]:
df.rename(columns = {"Price1":"Price"}, inplace = True)

In [19]:
df['Year'] = df['Year'].astype(int)

In [20]:
df['Kilometers'] = df['Kilometers'].str.replace('.', '')

C:\Users\user\AppData\Local\Temp\ipykernel_3532\2414687831.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Kilometers'] = df['Kilometers'].str.replace('.', '')

In [21]:
df['Kilometers'] = df['Kilometers'].str.replace('-', '').astype(int)

In [22]:
df['Kilometers'].astype(int)

0       202000
1       167261
2       220000
3       169000
4       120000
         ...
1830    192000
1831    102000
1832    200000
1833    217000
1834    415000
Name: Kilometers, Length: 1835, dtype: int32

In [23]:
type(df['Kilometers'][0])

numpy.int32

In [24]:
df = df.drop("Currency", axis = 1)

In [25]:
col6 = df['Engine'].str.split(' ', n=1, expand=True).rename({0: 'Engine1', 1: 'Devami'}, axis=1)
col6

     Engine1               Devami
0        1.5              dCi Joy
1        1.5             dCi Icon
2        1.5  dCi Extreme Edition
3        1.5            dCi Touch
4        1.5             dCi Icon
...      ...                  ...
1830     1.5          dCi Extreme
1831     1.5            dCi Touch
1832     1.6                  Joy
1833     1.5             dCi Icon
1834     1.5          dCi Extreme

[1835 rows x 2 columns]

In [26]:
df = df.join(col6)

In [27]:
df['Engine1'] = df['Engine1'].astype(float)

In [28]:
df = df.drop(columns = 'Engine')

In [29]:
df.rename(columns = {"Engine1":"Engine"}, inplace = True)

In [30]:
df = df.drop(columns = 'Devami')

In [31]:
df['Price'] = df['Price'].str.replace('.', '').astype(int)

C:\Users\user\AppData\Local\Temp\ipykernel_3532\3128332942.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Price'] = df['Price'].str.replace('.', '').astype(int)

In [32]:
df.reset_index(drop = True, inplace = True)
df

,Year,Kilometers,Color,Car Brand,Model,Price,City,District,Engine
0,2013,202000,Beyaz,Renault,Fluence,553500,Bursa,Yıldırım,1.5
1,2012,167261,Bej,Renault,Fluence,630000,Ankara,Çankaya,1.5
2,2012,220000,Gri (Gümüş),Renault,Fluence,480000,İstanbul,Eyüpsultan,1.5
3,2015,169000,Beyaz,Renault,Fluence,592000,Ankara,Etimesgut,1.5
4,2015,120000,Mavi,Renault,Fluence,749000,Ankara,Kızılcahamam,1.5
...,...,...,...,...,...,...,...,...,...
1830,2011,192000,Bej,Renault,Fluence,420000,Konya,Selçuklu,1.5
1831,2016,102000,Beyaz,Renault,Fluence,770000,Adıyaman,Merkez,1.5
1832,2013,200000,Beyaz,Renault,Fluence,520000,Kahramanmaraş,Onikişubat,1.6
1833,2015,217000,Gri (titanyum),Renault,Fluence,685000,Mersin,Akdeniz,1.5
1834,2012,415000,Siyah,Renault,Fluence,440000,Ankara,Çankaya,1.5

In [33]:
df.to_csv('car-sale-renault-fluence.csv', index = False)