In [1]:
headers = ({'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/122.0.0.0 Safari/537.36'})

In [2]:
import requests
from bs4 import BeautifulSoup

base_url = "https://www.arabam.com/ikinci-el/otomobil/renault-clio?take=50&page="
car_data = []

for page_number in range(1, 51):
    url = base_url + str(page_number)
    data = requests.get(url).text
    soup = BeautifulSoup(data, 'html.parser')
    listings = soup.find_all('tr', class_='listing-list-item should-hover bg-white')
    for listing in listings:
        model = listing.find('div', class_='listing-text-new').text
        year = listing.find('td', class_='listing-text').text.strip()
        kilometers = listing.find_all('td', class_='listing-text')[1].text.strip()
        color = listing.find_all('td', class_='listing-text')[2].text.strip()
        price = listing.find('span', class_='db no-wrap listing-price').text.strip()
            
        location = listing.find('span', class_='').text + " - " + listing.find_all('span', class_='')[1].text

        car_data.append([model, year, kilometers, color, price, location])

In [3]:
listing

<tr class="listing-list-item should-hover bg-white" id="listing24710285">
<td class="pr" style="width: 200px;">
<div class="fade-out-content-wrapper">
<a class="smallest-text-minus ovh" href="/ilan/sahibinden-satilik-renault-clio-1-2-expression/sahibinden-clio-3-otomatik/24710285" onclick="dataLayerClick('2500' , '49')" target="_self">
<img alt="Sahibinden Clio 3 otomatik" class="listing-image" data-src="https://arbstorage.mncdn.com/ilanfotograflari/2024/03/08/24710285/a01ab5df-eb59-4c92-a8eb-c011a6443d33_image_for_silan_24710285_240x180.jpg" height="90" src="https://arbimg1.mncdn.com/ilanfotograflari/noImage/01/01/1/noimage5_160x120.jpg" width="120"/>
</a>
</div>
<div class="item-overlay overlay-24710285"></div>
</td>
<td class="listing-modelname pr">
<h3 class="crop-after">
<div class="listing-text-new word-break val-middle color-black2018">Renault Clio 1.2 Expression</div>
</h3>
<div class="item-overlay overlay-24710285"></div>
<a class="link-overlay" href="/ilan/sahibinden-satilik-renault-clio-1-2-expression/sahibinden-clio-3-otomatik/24710285" onclick="dataLayerClick('2500' , '49')" target="_self"></a>
</td>
<td class="horizontal-half-padder-minus pr">
<h4 class="crop-after crop-after-40 odd-ca40">
<div class="listing-text-new word-break listing-title-lines" ng-non-bindable="">Sahibinden Clio 3 otomatik</div>
</h4>
<div class="label-container">
</div>
<div class="item-overlay overlay-24710285"></div>
<a class="link-overlay" href="/ilan/sahibinden-satilik-renault-clio-1-2-expression/sahibinden-clio-3-otomatik/24710285" onclick="dataLayerClick('2500' , '49')" target="_self"></a>
</td>
<td class="listing-text">
<div class="fade-out-content-wrapper">
<a class="" href="/ilan/sahibinden-satilik-renault-clio-1-2-expression/sahibinden-clio-3-otomatik/24710285" onclick="dataLayerClick('2500' , '49')" target="_self">2010</a>
</div>
<div class="item-overlay overlay-24710285"></div>
</td>
<td class="listing-text">
<div class="fade-out-content-wrapper">
<a class="" href="/ilan/sahibinden-satilik-renault-clio-1-2-expression/sahibinden-clio-3-otomatik/24710285" onclick="dataLayerClick('2500' , '49')" target="_self">270.000 </a>
</div>
<div class="item-overlay overlay-24710285"></div>
</td>
<td class="listing-text">
<div class="fade-out-content-wrapper">
<a class="" href="/ilan/sahibinden-satilik-renault-clio-1-2-expression/sahibinden-clio-3-otomatik/24710285" onclick="dataLayerClick('2500' , '49')" target="_self">Füme</a>
</div>
<div class="item-overlay overlay-24710285"></div>
</td>
<td class="">
<div class="fade-out-content-wrapper">
<a href="/ilan/sahibinden-satilik-renault-clio-1-2-expression/sahibinden-clio-3-otomatik/24710285" onclick="dataLayerClick('2500' , '49')" target="_self">
<span class="db no-wrap listing-price" itemscope="">
                        410.000 TL
                    </span>
</a>
</div>
<div class="item-overlay overlay-24710285"></div>
</td>
<td class="listing-text tac">
<div class="fade-out-content-wrapper">
<a class="" href="/ilan/sahibinden-satilik-renault-clio-1-2-expression/sahibinden-clio-3-otomatik/24710285" onclick="dataLayerClick('2500' , '49')" target="_self">08 Mart 2024</a>
</div>
<div class="item-overlay overlay-24710285"></div>
</td>
<td class="listing-text">
<div style="display:flex;justify-content:center;align-items:center;height:81px">
<div class="fade-out-content-wrapper">
<a class="" href="/ilan/sahibinden-satilik-renault-clio-1-2-expression/sahibinden-clio-3-otomatik/24710285" onclick="dataLayerClick('2500' , '49')" target="_self">
<span class="" title="Ankara">Ankara</span>
<span class="" title="Çankaya">Çankaya</span>
</a>
</div>
<div class="visible-on-parent-hover toolbox-wrapper">
<span class="toolbox-item" id="compare-container24710285" onclick="handleClickComparePopup({id: '24710285',price: '410.000 TL', image: 'https://arbstorage.mncdn.com/ilanfotograflari/2024/03/08/24710285/a01ab5df-eb59-4c92-a8eb-c011a6443d33_image_for_silan_24710285_120x90.jpg', mainCategoryId: '18', modelName: 'Renault Clio 1.2 Expression', title: 'Sahibinden Clio 3 otomatik'}, event);event.stopPropagation();">
<i class="icon-arabam-karsilastir"></i>
<span class="pl4" id="add-compare24710285">Karşılaştır</span>
<span class="pl4 dn" id="remove-compare24710285">Karşılaştırmadan Çıkar</span>
</span>
<span class="toolbox-item" id="favorite-container24710285">
<svg class="icon" height="16" width="16">
<use xlink:href="#arabam-list-star"></use>
</svg>
<span class="pl4 dn" id="add-favorite24710285" onclick="removeFromFavorite(24710285, event);">Favorilerimde</span>
<span class="pl4" id="remove-favorite24710285" onclick="handleClickAddFavorite(24710285, event);">Favoriye Ekle</span>
</span>
<span class="toolbox-item" id="hide-24710285" onclick="toggleHide(24710285, event);">
<svg class="icon" height="16" width="16">
<use xlink:href="#arabam-list-eye"></use>
</svg>
<span class="pl4">Gizle</span>
</span>
<span class="toolbox-item dn" id="show-24710285">
<svg class="icon" height="16" width="16">
<use xlink:href="#arabam-list-eye"></use>
</svg>
<span class="pl4">Göster</span>
</span>
</div>
<div class="item-overlay overlay-24710285" onclick="toggleShow(24710285, event);" style="cursor: pointer;">
<span class="toolbox-item">
<svg class="icon" height="16" width="16">
<use xlink:href="#arabam-list-eye"></use>
</svg>
<span class="pl4">Göster</span>
</span>
</div>
</div>
</td>
</tr>

In [3]:
import pandas as pd
df = pd.DataFrame(car_data, columns=['Model', 'Year', 'Kilometers', 'Color', 'Price', 'Location'])
df

,Model,Year,Kilometers,Color,Price,Location
0,Renault Clio 1.5 dCi SportTourer Joy,2017,162.000,Beyaz,594.950 TL,İstanbul - Bağcılar
1,Renault Clio 1.4 Authentique,2005,220.000,Füme,340.000 TL,Adana - Sarıçam
2,Renault Clio 1.0 SCe Joy,2023,40.000,Beyaz,675.000 TL,Karabük - Merkez
3,Renault Clio 1.3 TCe Icon,2020,124.000,Beyaz,870.000 TL,İstanbul - Ümraniye
4,Renault Clio 1.5 dCi Joy,2017,348.000,Beyaz,579.000 TL,Ankara - Yenimahalle
...,...,...,...,...,...,...
2472,Renault Clio 1.4 RTA,2000,202.000,Gri,290.000 TL,Ankara - Etimesgut
2473,Renault Clio 1.5 dCi Touch,2019,100.000,Beyaz,840.000 TL,Ankara - Yenimahalle
2474,Renault Clio 1.5 dCi Touch,2014,163.100,Beyaz,640.000 TL,Bursa - Osmangazi
2475,Renault Clio 1.4 RT,1998,257.000,Kırmızı,210.000 TL,Kocaeli - Karamürsel
2476,Renault Clio 0.9 TCe Joy,2019,157.000,Beyaz,580.000 TL,Ankara - Keçiören

In [4]:
col = df["Model"].str.split(" ", 1, expand=True).rename({0:"Car Brand", 1:"CarModel"}, axis = 1)

In [5]:
df = df.join([col])

In [6]:
df = df.drop("Model", axis = 1)

In [7]:
df.isnull().sum()

Year          0
Kilometers    0
Color         0
Price         0
Location      0
Car Brand     0
CarModel      0
dtype: int64

In [8]:
col2 = df.CarModel.str.split(" ", 1, expand=True).rename({0:"Model", 1:"Engine"}, axis = 1)

In [9]:
df = df.join(col2)

In [10]:
df = df.drop('CarModel', axis = 1)

In [11]:
col3 = df.Price.str.split(" ", 1, expand = True).rename({0:"Price1", 1:"Currency"}, axis = 1)

In [12]:
df = df.join(col3)
df

,Year,Kilometers,Color,Price,Location,Car Brand,Model,Engine,Price1,Currency
0,2017,162.000,Beyaz,594.950 TL,İstanbul - Bağcılar,Renault,Clio,1.5 dCi SportTourer Joy,594.950,TL
1,2005,220.000,Füme,340.000 TL,Adana - Sarıçam,Renault,Clio,1.4 Authentique,340.000,TL
2,2023,40.000,Beyaz,675.000 TL,Karabük - Merkez,Renault,Clio,1.0 SCe Joy,675.000,TL
3,2020,124.000,Beyaz,870.000 TL,İstanbul - Ümraniye,Renault,Clio,1.3 TCe Icon,870.000,TL
4,2017,348.000,Beyaz,579.000 TL,Ankara - Yenimahalle,Renault,Clio,1.5 dCi Joy,579.000,TL
...,...,...,...,...,...,...,...,...,...,...
2472,2000,202.000,Gri,290.000 TL,Ankara - Etimesgut,Renault,Clio,1.4 RTA,290.000,TL
2473,2019,100.000,Beyaz,840.000 TL,Ankara - Yenimahalle,Renault,Clio,1.5 dCi Touch,840.000,TL
2474,2014,163.100,Beyaz,640.000 TL,Bursa - Osmangazi,Renault,Clio,1.5 dCi Touch,640.000,TL
2475,1998,257.000,Kırmızı,210.000 TL,Kocaeli - Karamürsel,Renault,Clio,1.4 RT,210.000,TL
2476,2019,157.000,Beyaz,580.000 TL,Ankara - Keçiören,Renault,Clio,0.9 TCe Joy,580.000,TL

In [13]:
if "Price" in df.columns:
    df = df.drop("Price", axis=1)
else:
    print("Column 'Price' not found in the dataset.")

print(df.head())

   Year Kilometers  Color              Location Car Brand Model  \
0  2017    162.000  Beyaz   İstanbul - Bağcılar   Renault  Clio
1  2005    220.000   Füme       Adana - Sarıçam   Renault  Clio
2  2023     40.000  Beyaz      Karabük - Merkez   Renault  Clio
3  2020    124.000  Beyaz   İstanbul - Ümraniye   Renault  Clio
4  2017    348.000  Beyaz  Ankara - Yenimahalle   Renault  Clio

                    Engine   Price1 Currency
0  1.5 dCi SportTourer Joy  594.950       TL
1          1.4 Authentique  340.000       TL
2              1.0 SCe Joy  675.000       TL
3             1.3 TCe Icon  870.000       TL
4              1.5 dCi Joy  579.000       TL

In [14]:
col4 = df.Location.str.split(" ", 1, expand = True).rename({0:"City", 1:"District"}, axis = 1)
col4

          City       District
0     İstanbul     - Bağcılar
1        Adana      - Sarıçam
2      Karabük       - Merkez
3     İstanbul     - Ümraniye
4       Ankara  - Yenimahalle
...        ...            ...
2472    Ankara    - Etimesgut
2473    Ankara  - Yenimahalle
2474     Bursa    - Osmangazi
2475   Kocaeli   - Karamürsel
2476    Ankara     - Keçiören

[2477 rows x 2 columns]

In [15]:
df = df.join(col4)

In [16]:
df = df.drop("Location", axis = 1)

In [17]:
df['District'] = df['District'].str.replace("-", " ")

In [18]:
df.rename(columns = {"Price1":"Price"}, inplace = True)

In [19]:
df['Year'] = df['Year'].astype(int)

In [20]:
df['Kilometers'] = df['Kilometers'].str.replace('.', '')

C:\Users\user\AppData\Local\Temp\ipykernel_21928\2414687831.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Kilometers'] = df['Kilometers'].str.replace('.', '')

In [21]:
df['Kilometers'] = df['Kilometers'].str.replace('-', '').astype(int)

In [22]:
df['Kilometers'].astype(int)

0       162000
1       220000
2        40000
3       124000
4       348000
         ...
2472    202000
2473    100000
2474    163100
2475    257000
2476    157000
Name: Kilometers, Length: 2477, dtype: int32

In [23]:
type(df['Kilometers'][0])

numpy.int32

In [24]:
df = df.drop("Currency", axis = 1)

In [25]:
col6 = df['Engine'].str.split(' ', n=1, expand=True).rename({0: 'Engine1', 1: 'Devami'}, axis=1)
col6

     Engine1               Devami
0        1.5  dCi SportTourer Joy
1        1.4          Authentique
2        1.0              SCe Joy
3        1.3             TCe Icon
4        1.5              dCi Joy
...      ...                  ...
2472     1.4                  RTA
2473     1.5            dCi Touch
2474     1.5            dCi Touch
2475     1.4                   RT
2476     0.9              TCe Joy

[2477 rows x 2 columns]

In [26]:
df = df.join(col6)

In [27]:
df['Engine1'] = df['Engine1'].astype(float)

In [28]:
df = df.drop(columns = 'Engine')

In [29]:
df.rename(columns = {"Engine1":"Engine"}, inplace = True)

In [30]:
df = df.drop(columns = 'Devami')

In [31]:
df['Price'] = df['Price'].str.replace('.', '').astype(int)

C:\Users\user\AppData\Local\Temp\ipykernel_21928\3128332942.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Price'] = df['Price'].str.replace('.', '').astype(int)

In [32]:
df.reset_index(drop = True, inplace = True)
df

,Year,Kilometers,Color,Car Brand,Model,Price,City,District,Engine
0,2017,162000,Beyaz,Renault,Clio,594950,İstanbul,Bağcılar,1.5
1,2005,220000,Füme,Renault,Clio,340000,Adana,Sarıçam,1.4
2,2023,40000,Beyaz,Renault,Clio,675000,Karabük,Merkez,1.0
3,2020,124000,Beyaz,Renault,Clio,870000,İstanbul,Ümraniye,1.3
4,2017,348000,Beyaz,Renault,Clio,579000,Ankara,Yenimahalle,1.5
...,...,...,...,...,...,...,...,...,...
2472,2000,202000,Gri,Renault,Clio,290000,Ankara,Etimesgut,1.4
2473,2019,100000,Beyaz,Renault,Clio,840000,Ankara,Yenimahalle,1.5
2474,2014,163100,Beyaz,Renault,Clio,640000,Bursa,Osmangazi,1.5
2475,1998,257000,Kırmızı,Renault,Clio,210000,Kocaeli,Karamürsel,1.4
2476,2019,157000,Beyaz,Renault,Clio,580000,Ankara,Keçiören,0.9

In [33]:
df.to_csv('car-sale-renault-clio.csv', index = False)